body {
    background-color: #121212;
    padding: 40px;
    text-align: center;
    font-size: 16pt;
    color: #656565;
}

input {
    font-size: 42px;
    width: 220px;
}

h1{
    font-size: 46pt;
    color: #656565;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
}

.button{
    background: #656565;
    font-size: 30px;
    font-size: 32pt;
}
